<div class="container">
  <div class="row">    
    <div class="col-md-12">      
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd" >
        Only show odd numbers
      </button>      
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li class="list-group-item" 
          *ngFor="let odd of oddNumbers"
          [ngClass]="{odd: odd % 2 !== 0}"
          [ngStyle]="{'background-color': odd % 2 !== 0 ? 'yellow' : 'orange' }">
            {{ odd }}
        </li>
        </div>
        <div *ngIf="!onlyOdd">
          <li class="list-group-item" 
          *ngFor="let even of evenNumbers"
          [ngClass]="{odd: even % 2 !== 0}"
          [ngStyle]="{'background-color': even % 2 !== 0 ? 'yellow' : 'orange' }">
            {{ even }}
          </li>
        </div>    
      </ul>
      <p basicHighLight>Style me with basic highlight direactive</p>
      <p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'brown'"> Better way to create user direactive </p>
    </div>

    <!-- custom structoral directive -->    
    <div class="col-md-12">      
      <h1>{{ 'custom structoral direactive' }}</h1>
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd" >
        Only show odd numbers using custom structoral directive
      </button>      
      <br><br>
      <ul class="list-group">
        <div *appUnless="onlyOdd">
          <li class="list-group-item" 
          *ngFor="let odd of oddNumbers"
          [ngClass]="{odd: odd % 2 !== 0}"
          [ngStyle]="{'background-color': odd % 2 !== 0 ? 'yellow' : 'orange' }">
            {{ odd }}
        </li>
        </div>
        <div *appUnless="!onlyOdd">
          <li class="list-group-item" 
          *ngFor="let even of evenNumbers"
          [ngClass]="{odd: even % 2 !== 0}"
          [ngStyle]="{'background-color': even % 2 !== 0 ? 'yellow' : 'orange' }">
            {{ even }}
          </li>
        </div>    
      </ul>      
    </div>
    <div class="col-md-12">
      <h2>ngSwitch usage</h2>
      <div [ngSwitch]="value">
        <p *ngSwitchCase="1"> Value is 1</p>
        <p *ngSwitchCase="2"> Value is 2</p>
        <p *ngSwitchCase="3"> Value is 3</p>
        <p *ngSwitchCase="4"> Value is 4</p>
        <p *ngSwitchCaseDefult> No Value</p>
      </div>
    </div>
  </div>
</div>

