<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Hi im app component!</h3>
            <hr>
            <!-- element selector -->
            <!-- <app-server></app-server> -->
            <!-- attribute selector -->
            <!-- <div app-server></div> -->
            <!-- class selector -->
            <div class = "app-server"></div>
            <hr>
            <app-directivesexamples></app-directivesexamples>
            <hr>
            <app-styleexamples></app-styleexamples>
            <app-styleexamples></app-styleexamples>
        </div>
    </div>
</div>

